In [1]:
%reload_ext nb_black

## Day 76 Lecture 2 Assignment

In this assignment, we will learn about Dask dataframes. We will use the census dataset loaded below and perform some exploratory data analysis.

In [2]:
import dask.dataframe as dd
import numpy as np

In [3]:
census = dd.read_csv(
    "https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Big%20Data/acs2015_census_tract_data.csv"
)

In [6]:
census.head()

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2

The dataset described above contains the aggregated data for each county in the United States. For example, the number in the Carpool column describes the percent of people in the county who carpool to work.

Print all the column names in the dataset and describe the data in each column

In [7]:
# Answer below:
census

Dask DataFrame Structure:
              CensusTract   State  County TotalPop    Men  Women Hispanic    White    Black   Native    Asian  Pacific Citizen   Income IncomeErr IncomePerCap IncomePerCapErr  Poverty ChildPoverty Professional  Service   Office Construction Production    Drive  Carpool  Transit     Walk OtherTransp WorkAtHome MeanCommute Employed PrivateWork PublicWork SelfEmployed FamilyWork Unemployment
npartitions=1
                    int64  object  object    int64  int64  int64  float64  float64  float64  float64  float64  float64   int64  float64   float64      float64         float64  float64      float64      float64  float64  float64      float64    float64  float64  float64  float64  float64     float64    float64     float64    int64     float64    float64      float64    float64      float64
                      ...     ...     ...      ...    ...    ...      ...      ...      ...      ...      ...      ...     ...      ...       ...          ...             ...      ...          ...          ...      ...      ...          ...        ...      ...      ...      ...      ...         ...        ...         ...      ...         ...        ...          ...        ...          ...
Dask Name: read-csv, 1 tasks

How many counties have a unemployement rate above 10%?

In [15]:
# Answer below:
# There are 1,423 Counties with an umemployment rate over 10%
counties = census[census["Unemployment"] > 10]
counties["County"].value_counts().compute()

Los Angeles                  1081
Cook                          646
Wayne                         456
Kings                         329
Clark                         322
                             ...
Karnes                          1
Kemper                          1
Ketchikan Gateway Borough       1
Kinney                          1
Latah                           1
Name: County, Length: 1423, dtype: int64

Print the number of counties in each state.

In [17]:
# Answer below:
census.groupby('State').count()['County'].compute()

State
Alabama                 1181
Alaska                   167
Arizona                 1526
Arkansas                 686
California              8057
Colorado                1249
Connecticut              833
Delaware                 218
District of Columbia     179
Florida                 4245
Georgia                 1969
Hawaii                   351
Idaho                    298
Illinois                3123
Indiana                 1511
Iowa                     825
Kansas                   770
Kentucky                1115
Louisiana               1148
Maine                    358
Maryland                1406
Massachusetts           1478
Michigan                2813
Minnesota               1338
Mississippi              664
Missouri                1393
Montana                  271
Nebraska                 532
Nevada                   687
New Hampshire            295
New Jersey              2010
New Mexico               499
New York                4918
North Carolina          2195
North Dakota             205
Ohio                    2952
Oklahoma                1046
Oregon                   834
Pennsylvania            3218
Puerto Rico              945
Rhode Island             244
South Carolina          1103
South Dakota             222
Tennessee               1497
Texas                   5265
Utah                     588
Vermont                  184
Virginia                1907
Washington              1458
West Virginia            484
Wisconsin               1409
Wyoming                  132
Name: County, dtype: int64

Add a high child poverty boolean column. This column will be 1 if the rate of child poverty is over %20 and 0 otherwise.

In [26]:
# Answer below:
census["child_pov"] = (census["ChildPoverty"] > 20).astype(int)
census.head()

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,child_pov
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4,0
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3,1
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2,0
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8,0
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2,0

What are the top 10 most populated counties?

In [22]:
# answer below:
census.nlargest(n=10, columns=["TotalPop"]).compute()

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
63656,48157673101,Texas,Fort Bend,53812,26562,27250,18.5,53.9,7.0,1.0,...,0.1,2.2,6.4,36.5,24075,82.2,12.3,5.2,0.3,3.0
9724,6073018700,California,San Diego,39454,27962,11492,23.0,60.5,9.3,1.1,...,35.7,2.0,11.7,12.3,3548,41.4,55.7,2.9,0.0,15.5
18180,12119911200,Florida,Sumter,38169,17638,20531,1.4,96.0,1.3,0.0,...,0.0,8.0,19.5,23.2,5407,80.4,10.8,8.9,0.0,8.0
63652,48157672900,Texas,Fort Bend,38137,18139,19998,23.9,22.2,28.5,0.0,...,0.3,1.3,3.4,38.5,18577,82.4,14.7,2.4,0.5,6.7
18070,12115002712,Florida,Sarasota,35527,17250,18277,8.5,78.1,9.3,0.1,...,0.0,2.2,2.4,29.5,13962,81.5,13.8,4.4,0.2,7.1
62174,48039660602,Texas,Brazoria,33655,15473,18182,22.8,27.1,28.2,0.0,...,0.0,1.4,0.5,35.1,18425,80.4,16.0,3.6,0.0,2.3
65439,48339692001,Texas,Montgomery,31493,15813,15680,17.0,71.8,6.3,0.0,...,1.1,0.5,5.6,34.5,15828,89.0,8.8,2.2,0.0,3.8
16886,12095016730,Florida,Orange,30258,14659,15599,35.1,46.8,7.7,0.0,...,0.0,1.9,12.7,30.5,15521,83.2,13.9,2.8,0.0,6.1
50374,38017040500,North Dakota,Cass,30256,14321,15935,1.5,93.7,1.4,0.7,...,0.1,0.7,3.4,17.8,18538,85.1,11.8,3.1,0.0,2.3
63558,48141010341,Texas,El Paso,29238,13942,15296,84.8,9.2,4.4,0.2,...,0.0,0.2,2.3,28.3,11618,69.7,25.3,5.0,0.0,7.4

What is the current number of partitions?

In [27]:
#Answer below:
census.npartitions

1