In [1]:
%reload_ext nb_black

## Day 82 Lecture 1 Assignment

In this assignment, we will learn about activation functions. We will create a neural network and measure the model's performance using different activations.

In [2]:
import numpy as np
import pandas as pd

We will import the famous titanic dataset below and produce a neural network that will predict the chance of survival for a passenger.

In [3]:
titanic = pd.read_csv("./titanic.csv")

In [4]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

We'll perform some feature engineering

Let's start by keeping only the columns we'd like to use for our analysis. Keep only the columns: Survived, Pclass, Sex, SibSp, Parch, and Embarked

In [6]:
# Answer below:
titanic = titanic.drop(
    columns=["PassengerId", "Name", "Age", "Ticket", "Fare", "Cabin"]
)
titanic.head()

   Survived  Pclass     Sex  SibSp  Parch Embarked
0         0       3    male      1      0        S
1         1       1  female      1      0        C
2         1       3  female      0      0        S
3         1       1  female      1      0        S
4         0       3    male      0      0        S

Now examine how many rows contain missing data. Given how much missing data we have, should we remove the column with the most missing data, or remove all rows containing missing data? Do what you think is best.

In [8]:
# Answer below:
# seeing how there is less than 1% of missing data, we might as well just remove the rows
titanic.isna().mean()

Survived    0.000000
Pclass      0.000000
Sex         0.000000
SibSp       0.000000
Parch       0.000000
Embarked    0.002245
dtype: float64

In [10]:
titanic = titanic.dropna()
titanic.isna().mean()

Survived    0.0
Pclass      0.0
Sex         0.0
SibSp       0.0
Parch       0.0
Embarked    0.0
dtype: float64

Now we'll create a one hot encoding of the variables Pclass, sex, and Embarked

In [0]:
# Answer below:

Split the data into train and test. 20% of the data should be set aside for testing. Use Survived as your target variable.

In [0]:
# Answer below

At this point, we are ready to create a model. Import `Sequential` and `Dense` from Keras

In [0]:
# Answer below:

Create a model with 5 layers. The first layer should be a dense layer that receives the input, the last layer should be of size 1. You determine the remaining layer sizes.

Use a tanh activation for the output layer.

In [0]:
# Answer below

Compile the model using the adam optimizer, binary crossentropy loss, and the accuracy metric.

Fit the model using a batch size of 80 over 200 epochs.

In [0]:
# Answer below:

Redefine the model using a sigmoid activation for the last layer. What is the difference in accuracy.

In [0]:
# Answer below